* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img-card:hover {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    /* text-align: center; */
    transform: scale(1.1);
}
img {
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
    color: rgb(179, 104, 230);
    font-weight: 16px;
}
.img-container {
    display: flex;
    flex-direction: row;
}
h1{
    margin: 10px;
}
.zakaz {
    display: flex;
    margin: 10px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.zakaz:hover {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}
.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.host:hover {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}
@media (max-width: 1000px) {
    .img-container {
        flex-direction: column;
        align-items: center;    
    }
    img {
        width: 100%;            
        height: auto;        
    }
}