* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(purple, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 20px;
    color: whitesmoke
}

h2 {
    text-align: center;
    color: whitesmoke
}
