* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
img {
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
    color: rgb(179, 104, 230);
}
.img {
    display: flex;
    flex-direction: row;
}
h1{
    margin: 10px;
}
.zakaz {
    display: flex;
    margin: 10px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}